<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="icon" href="{{ asset('images/icon.svg') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <div class="header">
        <img src="{{ asset('images/icon.svg') }}" class="logo">
    </div>
    <div class="page-body">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
